@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.applyDealer {
  animation: dealer 20s linear 20s infinite;
}

* {
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes dealer {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-50%);
  }
}
.applyDealer:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.swiper:hover .swiper-button-prev:after {
  display: block;
  transition: all;
}

.swiper:hover .swiper-button-next:after {
  display: block;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: x-large !important;
  color: green;
  display: none;
}
@layer base {
  body {
    @apply overflow-x-hidden;
  }
}
body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
@layer components {
  .container-custom {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }

  .nav-link {
    @apply relative inline-block text-black transition-colors duration-300;
  }

  .nav-link::after {
    @apply content-[''] absolute bottom-0 left-0 w-0 h-0.5 bg-linear-to-r from-purple-600 to-pink-600 transition-all duration-300;
  }

  .nav-link:hover::after {
    @apply w-full;
  }
  .active-link::after {
    @apply content-[''] absolute bottom-1.5  left-0 w-full h-0.5 bg-linear-to-r from-purple-600 to-pink-600;
  }
  .navbar-gradient {
    @apply bg-linear-to-t  from-white to-accent;
  }
}
