@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  /* overflow-x: hidden; */

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.news {
  animation: delar 20s linear 20s infinite;
}

@keyframes delar {
  0% {
    transform: translatex(100%)
  }

  100% {
    transform: translatex(-50%)
  }
}

.swiper:hover .swiper-button-prev:after {
  display: block;
  transition: all;
}

.swiper:hover .swiper-button-next:after {
  display: block;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: x-large !important;
  color: green;
  display: none;
}